/* @import "../../../colors";
 */
// .form-container {
//   display: flex;
//   justify-content: center;
//   background-color: $secondary;
//   margin: auto;
//   padding: 3%;
//   width: 400px;
//   height: 200px;
//   text-align: center;
//   flex-direction: column;
// }
/* 
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $secondary;
  margin: auto;
  padding: 3%;
    max-width:max-content;
    min-height: max-content;
}
 */
 
 mat-card{
  width: 100vw;
  max-width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
mat-card * {
  width: 100%;
}

mat-card-title{
padding: 15px 0;  
}
mat-card-content{
padding: 15px 0;  

}
.input-container{
  margin: 15px 0;
}