<div class="create-page">
  <form
    class="form-container"
    [formGroup]="noteForm"
    (ngSubmit)="handleSubmit()"
  >
    <h2>Create Note</h2>
    <div class="input-container">
      <app-custom-text-input
        [label]="'Create Note'"
        [control]="content"
        [placeHolder]="'Create note'"
      ></app-custom-text-input>
    </div>
    <div class="input-container">
      <app-custom-color-input
        [control]="color"
        [label]="'Pick a color'"
      ></app-custom-color-input>
    </div>
    <div class="input-container">
      <app-custom-color-input
        [control]="backgroundColor"
        [label]="'Pick a background Color'"
      ></app-custom-color-input>
    </div>
    <div class="button-container">
      <app-main-button [name]="'Create note'"> </app-main-button>
    </div>
  </form>
</div>
