<div class="notes-page">
  <app-sticky-note-controls
    (setHorizontal)="onSetHorzontal($event)"
    (setVertical)="onSetVerical($event)"
    [currentHorizontal]="horizontalAlignment"
    [currentVertical]="verticalAlignment"
  ></app-sticky-note-controls>

  <div class="note-container">
    <div class="item" *ngFor="let note of noteList$ | async">
      <app-stick-note
        [horizontal]="horizontalAlignment"
        [vertical]="verticalAlignment"
        (editNote)="onEditNote($event)"
        (deleteNote)="onDeleteNote($event)"
        [note]="note"
      ></app-stick-note>
    </div>
    <div class="item">
      <app-add-sticky-note></app-add-sticky-note>
    </div>
  </div>
</div>
