<div class="notes-container-w-controls">
  <section class="notes-container-w-controls">
    <app-sticky-note-controls
      (setHorizontal)="onSetHorzontal($event)"
      (setVertical)="onSetVerical($event)"
      [currentHorizontal]="horizontalAlignment"
      [currentVertical]="verticalAlignment"
    ></app-sticky-note-controls>
  </section>
  <!--  -->
  <div
    [ngStyle]="{
      justifyContent: horizontalAlignment,
      alignItems: verticalAlignment
    }"
    class="note-container"
  >
    <div class="item" *ngFor="let note of noteList$ | async">
      <app-stick-note
        (editNote)="onEditNote($event)"
        (deleteNote)="onDeleteNote($event)"
        [note]="note"
      ></app-stick-note>
    </div>
    <div class="item">
      <app-add-sticky-note></app-add-sticky-note>
    </div>
  </div>
</div>
