<div class="layout-container">
  <div class="grid-1-container">
    <div class="grid-1-row-1">
      <div class="grid-1-col-1 image"></div>
      <div class="grid-1-col-2 image"></div>
    </div>
    <div class="grid-1s-row-2 image"></div>
  </div>

  <div class="grid-2-container">
    <div class="grid-2-col-1 image"></div>
    <div class="grid-2-rows">
      <div class="grid-2-row-1 image"></div>
      <div class="grid-2-row-2 image"></div>
      <div class="grid-2-row-3 image"></div>
    </div>
  </div>

  <div class="grid-2-container"></div>
</div>
