.grid-container {
  width: 700px;
  height: 700px;
}


.column1{
  background-color: red;
  display: grid;
  text-align: center;
}

.column2{
  background-color: aquamarine;
  display: grid;
  text-align: center;
}

.column3{
  background-color: white;
  display: grid;
  text-align: center;
}


