@import "../../../colors";

button {
  width: 100%;
  padding: 15px;
  outline: none;
  background-color: $background;
  font-weight: 600;
  cursor: pointer;
  color: $text-color-light;
  border-width: 0px;
  font-weight: 600;
  text-align: left;
  font-size: 14px;
  line-height: 1.4
}
button:hover{
  filter: brightness(110%);
  background-color: $error-color;
}
