button {
  width: 100%;
  padding: 15px;
  outline: none;
  background-color: #ff0100;
  font-weight: 600;
  cursor: pointer;
  color: white;
  border-width: 0px;
  font-weight: 600;
  text-align: left;
  font-size: 14px;
  line-height: 1.4
}
