
  @import "../../../colors";


  .form-container {
    background-color: $primary;
    padding:  3%;
    border: 2px solid $secondary;
    color: $text-color-light;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(44, 44, 44, 0.247);
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  .button-container,
  .input-container{
    margin: 10px 50px;
    width: 400px;
  }
  .error-container{
    color: $error-color;
    padding: 5px;
  }
  
  .link-container{
    text-align: center;
    color: $text-color-dark;
  }
  .header{
    text-align: center;
    color: $text-color-dark;
    width: 100%;
    font-size: 35px;
    font-weight: 500;
  }
  
  .input-container {
    color: $text-color-dark;;
  }
  