@import "../../../colors";

.accordion-title-container {
  display: flex;
  padding: 0 15px;
  background-color: $secondary;
}

.icon-container {
  align-self: center;
  margin-right: 6px;
  width: 20px;
}

.icon {
  color: rgb(0, 0, 0);
}


.accordion-desc-container {
  padding: 0 22px;
}

.description {
  margin: 0;
  padding: 10px 0;
  color: $background;
}

.title {
  padding: 15px 15px 15px 0;
  color: $background;
}

.accordion-item-container > * {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.accordion-title-container:hover {
  background-color: rgb(183, 208, 216);
  cursor: pointer;
}
