<div id="controls-container" class="controls-container">
  <div class="button-container">
    <app-sticky-note-controls-item
      id="horizontal-center"
      [icon]="faAlignCenter"
      [value]="'center'"
      [current]="currentHorizontal"
      (itemClicked)="onSetHorizontal($event)"
    ></app-sticky-note-controls-item>

    <app-sticky-note-controls-item
      [icon]="faAlignJustify"
      [value]="'space-between'"
      [current]="currentHorizontal"
      (itemClicked)="onSetHorizontal($event)"
    ></app-sticky-note-controls-item>
    <app-sticky-note-controls-item
      [icon]="faAlignRight"
      [value]="'flex-start'"
      [current]="currentHorizontal"
      (itemClicked)="onSetHorizontal($event)"
    ></app-sticky-note-controls-item>
    <app-sticky-note-controls-item
      [icon]="faAlignLeft"
      [value]="'flex-end'"
      [current]="currentHorizontal"
      (itemClicked)="onSetHorizontal($event)"
    ></app-sticky-note-controls-item>
  </div>
  <div class="button-container">
    <app-sticky-note-controls-item
      [icon]="faArrowsUpDownLeftRight"
      [value]="'center'"
      [current]="currentVertical"
      (itemClicked)="onSetVertical($event)"
    ></app-sticky-note-controls-item>

    <app-sticky-note-controls-item
      [icon]="faArrowDownUpAcrossLine"
      [value]="'space-between'"
      [current]="currentVertical"
      (itemClicked)="onSetVertical($event)"
    ></app-sticky-note-controls-item>

    <app-sticky-note-controls-item
      [icon]="faArrowUp"
      [value]="'flex-start'"
      [current]="currentVertical"
      (itemClicked)="onSetVertical($event)"
    ></app-sticky-note-controls-item>

    <app-sticky-note-controls-item
      [icon]="faArrowDown"
      [value]="'flex-end'"
      [current]="currentVertical"
      (itemClicked)="onSetVertical($event)"
    ></app-sticky-note-controls-item>
  </div>
  <div class="button-container">
    <app-sticky-note-controls-item
      [value]="'trash'"
      [icon]="faTrash"
      (itemClicked)="handleDeleteAll()"
    ></app-sticky-note-controls-item>
  </div>
</div>
