@import "../../../colors";

.controls-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.button-container{
    display: flex;
}
.icon-container{
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    color: $text-color-dark;

}
.selected,
.icon-container:hover{
    background-color: $text-color-dark;
    color: $text-color-light;
}
