.controls-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.button-container{
    display: flex;
}
.icon-container{
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    color: black;
    background-color: white;

}
.selected,
.icon-container:hover{
    background-color: black;
    color: white;
}
