 
  

.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.form-container {
  background-color: rgb(248, 248, 248);
  padding: 25px 10px;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 4px;
  box-shadow: 3px 5px 5px rgba(44, 44, 44, 0.247);
}
.button-container,
.input-container{
  padding: 10px 50px;
  width: 400px;
}
.error-container{
  color: rgb(255, 70, 70);
  padding: 5px;
}

.link-container{
  text-align: center;
}
h2{
  text-align: center;
}