@import "../../../../colors";

button {
  width: 100%;
  outline: none;
  padding: 7px;
  background-color: $complementary;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 17px;
  transition: all 0.23s ease;
  color: white;
}
button:hover{
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.137);
  filter: brightness(105%);
  background-color: #413C58;
}
button:active{
  filter: brightness(125%);

}
