main{
    
    grid-column: 2/3;
    height: 100%;
}
.home-page{
    display: grid;
    grid-template-columns: 200px auto;
    min-height: 100vh;
    height: fit-content;
}
nav{
    grid-column: 1/2;
    border-right: 1px solid black;
    height: 100%;
 
}