
.home-page{
    display: grid;
    grid-template-columns: 200px auto;
    min-height: 100vh;
}
main{
    width: 100%;
    grid-column: 2/3;
    height: 100%;
}
nav{
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}