.note-container {
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  width: 100%;
  
  display: flex;
  justify-content: end;
  border-bottom: 1px solid;
}

.content-container {
  
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  min-height: 300px;

  justify-content: space-between;
  align-items: flex-start;
}

p {
  word-break: break-all;
}
.content{
  padding: 5px;
  font-size: 18px;
}
.created_at{
  align-self: flex-end;
}

