.note-container {
  width: 90%;
  margin: 5%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.397);
  position: relative;
}

.icon-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 12px;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid;
}

.content-container {
  margin-top: 30px;
  width: 100%;
  left: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

p {
  word-break: break-all;
}

.created_at {
  align-self: flex-end;
}

.content {
  font-size: 20px;
  padding: 5px;
}

.deleteIcon {
  margin-left: 16px;
}
