$primary :#F2DDA4;
$secondary : #E7EFC5;
$background : #413C58;
$complementary : #45c4a4;
$text-color-dark : black;
$text-color-light:#da5beb;
$error-color : rgba(207, 23, 23, 0.712);
/*
$colors : (
    primary:"#355C7D",
    secondary:"#D9727F",
    complementary:"#FCBB6D",
    text-color-dark : "black",
    text-color-light:"white"
) */
