$primary :#355C7D;
$secondary : #D9727F;
$background : #AC6D83;
$complementary : #FCBB6D;
$text-color-dark : black;
$text-color-light:white;
$error-color : red;
/* 
$colors : (
    primary:"#355C7D",
    secondary:"#D9727F",
    complementary:"#FCBB6D",
    text-color-dark : "black",
    text-color-light:"white"
) */