@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
    font-family: 'Roboto', sans-serif;

}
html{

    background-color: $background
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
