.selected {
  background-color: #6fa9da;
}

a {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #cee3f3;
  border-bottom: 1px solid black;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
