<mat-toolbar color="accent" class="nav-container">
  <div>
    <a mat-flat-button routerLinkActive="selected" [routerLink]="['/task1']">
      Centered square
    </a>
    <a mat-flat-button routerLinkActive="selected" [routerLink]="['/task2']">
      3 centered squares</a
    >
    <a mat-flat-button routerLinkActive="selected" [routerLink]="['/notes']">
      Sticky Notes</a
    >
    <a
      mat-flat-button
      routerLinkActive="selected"
      [routerLink]="['/accordion-task']"
      >Accordion</a
    >
    <a
      mat-flat-button
      routerLinkActive="selected"
      [routerLink]="['/grid-task']"
    >
      Grid Task
    </a>
  </div>

  <app-custom-button
    (buttonClicked)="onLogout()"
    [name]="'Logout'"
    [type]="'button'"
    [color]="'warn'"
  >
  </app-custom-button>
</mat-toolbar>
