<div class="nav-contaienr">
  <div>
    <a routerLinkActive="selected" [routerLink]="['/task1']">Centered square</a>
    <a routerLinkActive="selected" [routerLink]="['/task2']"
      >3 centered squares</a
    >
    <a routerLinkActive="selected" [routerLink]="['/notes']">Sticky Notes</a>
    <a routerLinkActive="selected" [routerLink]="['/accordion-task']"
      >Accordion</a
    >
    <a routerLinkActive="selected" [routerLink]="['/grid-task']">Grid Task</a>
  </div>

  <app-custom-button
    (buttonClicked)="onLogout()"
    [name]="'Logout'"
    [type]="'button'"
  >
  </app-custom-button>
</div>
